.servicesCardDesign {
    height: 10em;
    width: 50em;
    margin: 1em;
    font-weight: bold;
    border: 0.5px solid rgb(185, 185, 185);
    border-radius: 0.2em;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;
    align-items: center;
    background-color: #555454;
    transition: 0.5s;
    color: white;
}