.superadminpanelservicesDesign {

   
    width: 99vw;

    background-color: rgb(231, 199, 54);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error{
    color: red;
}