.servicesDesign {

   
    width: 99vw;
    font-weight: bold;
    background-color: #2c2c2c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.serviceSection{
    display: flex;
   
    justify-content: center;
    align-items: center;
    margin:2em
}