.profileDesign {


    width: 99vw;

    min-height: 60em;
    background-color: #2c2c2c;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
    font-weight: bold;

   
}

.success {
    font-weight: bold;
    color: green;
    background-color: whitesmoke;
    border-radius: 0.2em;
   
}

.UsersSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.statusInfo {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}