.homeDesign {

    height: 80vh;
    width: 99vw;

    background-color: #2c2c2c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center .title {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}

