.headerDesign {

    height: 10vh;
    width: 99vw;

    background-color: #1f1e1e;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
}