.profileCardDesign{
    height: 10em;
    width:15em;
    border:1px solid black;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 135, 135);
    transition:0.5s;
}
.profileCardDesign:hover{
    cursor: pointer;
    background-color: rgb(255, 85, 85);
    transition: 0.5s;
    
}